body {
    background-color:#68b3ac
 }
 h1 {
     text-align: center;
     font-size: 50px;
     color:steelblue
 }
 form {
     margin: 20px auto
     width: 320px;
     text-align: center;
     color: bottom left, #33ccff 0%, #ff99cc 100%);
}

background: {linear-gradient(to 
}